body {
	margin: 0;
	overflow: hidden;
	background-image: url('images/pattern-c0rz.png');
	font-family: Georgia;
	color: #404040;
}

#content {
	background-color: #F2F2F2;
	text-align: center;
	padding-top: 70px;
	margin: auto;
	width: 85%;
	height: 100%;

}

#player-container {
	display: inline-block;
	margin: 0 auto;
}

#content, #player-container {
	box-shadow: 0px 0px 10px #707070;	
}

#time-slider {
	border-top: 2px solid #202020;
	display: block;
	background-color: black;
}



/* Hide the player before we've loaded a video */
iframe {
	display: none;
}

#unloaded-placeholder {
	width: 800px;
	height: 300px;
	background-color: black;
	padding-top: 50px;
	color: #F2F2F2;
	text-align: left;
}

#instructions {
	margin-left: 30%;
}

.control {
	font-weight: bold;
	color: #dd0000;
}

#player-container.loaded iframe {
	display: block;
}

#player-container.loaded #unloaded-placeholder {
	display: none;
}

/* Controls */
.control-group {
	display: inline-block;
	margin: 5px 15px 0px 15px;
}

input[type="range"] {
	width: 55px;
}

input[type="number"] {
	width: 50px;
}

input[type="text"] {
	width: 300px;
}

input, button, #disable-metronome {
	height: 30px;
	border: solid 2px #404040;
	border-width:  1px 2px 4px 2px;
	vertical-align: middle;
}

button {
	text-decoration:none; 
	text-align:center; 
	padding:6px 8px; 
	-webkit-border-radius:1px;
	-moz-border-radius:1px; 
	border-radius: 1px; 
	font: 12px serif;
	font-weight:bold; 
	color: #404040; 
	background: white; 
	width: 90px;
	cursor: pointer;
}

#recording, #disable-metronome {
	display: inline-block;
	vertical-align: middle;
}

#recording {
	background-color: white;
	border-radius: 7px;
	width: 14px;
	height: 14px;
}

#disable-metronome {
	cursor: pointer;
	background-image: url('images/metronome.png');
	width: 26px;
	height: 26px;
	background-size: contain;
}

#disable-metronome.disabled {
	background-image: url('images/metronome-off.png');
}

#tempo-controls.recording #tempo-tap {
	background-color: #7d0000;
}

#tempo-controls.recording #recording {
	background-color: #7d0000;
}

footer {
	font-size: 20px;
	padding: 0px 50px;
	margin-top: 40px;
	text-align: left;
}

#credits a {
	font-size: 12px;
	color: #0F0F0F;
}









